In [5]:
import pandas as pd
import numpy as np
from scipy import stats
import math
import statistics

In [6]:
df = pd.read_csv('titanic.csv')
#name = df.Name.to_numpy()
#embarked = df.Embarked.to_numpy()
#boolean_titanic = df['Embarked'] == "S"
df['Name'][df['Embarked'] == "S"].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object